<div class="form-body">
    <div class="website-logo">
        <a href="#">
            <div class="logo">
                 <img  src="https://img.icons8.com/cotton/64/000000/secured-file.png" id="ig"> 
               
            </div>
        </a>
    </div>
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
            <div class="info-holder">
                <img src="assets/img/semo.jpg" >
            </div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Get more Security of your digital assets.</h3>
                    <p>Access to the most powerfull tool & keep your assets securely in anywhere in the world.</p>
                    <div class="page-links">
                        <a  class="active">Login</a>
                    </div>
                    <form>
                        <input class="form-control" type="text" name="username"  #a placeholder="username" required>
                        <input class="form-control" type="password" name="password" #b placeholder="privatekey" required>
                        <div class="form-button">
                            <button id="submit" type="button" (click)="loginCheck(a.value,b.value)" class="ibtn">Login</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>