<body>
<div class="loginBox">
    <h2>Secutrix Authenticate</h2>
    <form>
        <p>AccountName</p>
        <input type="text" name="" placeholder="username" id="atname">
        <p>PrivateKey</p>
        <input type="password" name="" placeholder="••••••" id="atprivate">
        <p>KYC Select for Doctor</p>
        <input type="file" name="fileupload" value="fileupload" id="fileupload">
        <label for="fileupload"> </label>
        <button (click)="loginCheck()" type="button">Submit</button>
    </form>  
</div>
</body>