

.item{

        font-weight: 700;
        font-size: 20px;
        box-shadow: 2px 1px black,0px 0px black;
        align-content: center;
}
.loginBox{
	
	text-align: center;
}

.user
{
    padding: 20px;
	width: 200px;
	height: 200px;
	border-radius: 60%;
	overflow: hidden;
	top: calc(-100px/2);
	left: calc(50% - 50px);
}

.fileupload{

    font-weight: 200;
    font-size: 15px;
}

.card1{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card2{

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 20px; 
}